[submodule "packages/fonts"]
	path = packages/fonts
	url = https://github.com/powerline/fonts.git
[submodule "packages/neovim"]
	path = packages/neovim
	url = https://github.com/neovim/neovim.git
[submodule "packages/oh-my-zsh"]
	path = packages/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "packages/tmux"]
	path = packages/tmux
	url = https://github.com/tmux/tmux.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
