[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/NesC-Syntax-Highlighting"]
	path = vim/bundle/NesC-Syntax-Highlighting
	url = https://github.com/vim-scripts/NesC-Syntax-Highlighting.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/HiLinkTrace"]
	path = vim/bundle/HiLinkTrace
	url = https://github.com/gerw/vim-HiLinkTrace.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-youcompleteme"]
	path = vim/bundle/vim-youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/vim-ycm-generator"]
	path = vim/bundle/vim-ycm-generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "vim/bundle/vim-nerdtree"]
	path = vim/bundle/vim-nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/vim-syntastic"]
	path = vim/bundle/vim-syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/bundle/vim-easytags"]
	path = vim/bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "vim/bundle/vim-tagbar"]
	path = vim/bundle/vim-tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/bundle/vim-ripgrep"]
	path = vim/bundle/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "packages/tmux"]
	path = packages/tmux
	url = https://github.com/tmux/tmux.git
[submodule "vim/bundle/vim-autopep8"]
	path = vim/bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "vim/bundle/vim-pydocstring"]
	path = vim/bundle/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
