snippet doc "Basic c++ doxygen template" b
/**
 * ${1:A brief description}
 *
 * ${0:A detailed description}
 *
 * @param: ${2:description of param}
 *
 * @return: ${3: description of return}
 */
endsnippet

# vim:ft=snippets:
