[user]
name = "Jane Losare-Lusby"
email = "jlusby42@gmail.com"

[ui]
default-command = ["log", "--reversed", "--no-pager"]
diff-editor = "diffedit3"
merge-editor = "meld"
pager = "delta"
diff-formatter = ":git"

[git]
# Prevent pushing work in progress or anything explicitly labeled "private"
private-commits = "description(glob:'wip:*') | description(glob:'private:*') | subject(exact:megamerge) | subject(exact:staging)"

[aliases]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@"]

# Make fetch happen and rebase local changes on updated trunk
# usage: jj gretchen
gretchen = ["util", "exec", "--", "bash", "-c", """
set -euo pipefail
jj git fetch
jj rebase -b 'mine() & mutable()' -d T --skip-emptied
jj rebase -s M -d 'roots(bookmarks() & mine() & mutable())' --skip-emptied
jj edit M+
""", ""]

# Split commit based on evolog. Usage: jj evosplit <commit_id>
# where <commit_id> is the commit_id you want to restore the original commit to
evosplit = ["util", "exec", "--", "bash", "-c", """
set -euo pipefail
jj new -A @
jj restore --from ${1} --into @- --restore-descendants
jj describe
""", ""]

# [revsets]
# log = '@ | ancestors(trunk()..(visible_heads() & mine()), 2) | trunk()'

[revset-aliases]
T = "trunk()"
M = '''
latest(
    mine()
    & mutable()
    & fork_point(trunk() | @)::
    & (
        merges()
        | subject(exact:"megamerge")
    ),
    1
)
'''
"closest_bookmark(to)" = "heads(::to & bookmarks())"

[templates]
draft_commit_description = '''
concat(
  coalesce(description, builtin_draft_commit_description, "\n"),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.stat(72)),
  ),
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''

[gg.ui]
recent-workspaces = ["/home/jlusby/git/rust-lang/rust"]
